<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fout</title>
    <link rel="stylesheet" th:href="@{/errorPage.css}" />
</head>
<body>
<h1>Oeps! Er is iets misgegaan.</h1>
<p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}">Er is een onverwachte fout opgetreden.</p>
<p th:unless="${errorMessage}">Geen recente gesimuleerde matrix gevonden. Start eerst een vlucht.</p>
<a href="/drones" class="back-button">Terug naar Drones Overzicht</a>
</body>
</html>
