<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - CityMesh</title>
    <link rel="stylesheet" th:href="@{/login.css}" />
</head>
<body>
<div class="login-container">
    <h1>Login</h1>

    <div th:if="${param.error}" class="login-message error">
        Ongeldige gebruikersnaam of wachtwoord.
    </div>
    <div th:if="${param.logout}" class="login-message success">
        Je bent uitgelogd.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password" required />
        </div>
        <input type="submit" class="login-button" value="Aanmelden" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>
