spring:
  datasource:
    url: jdbc:mysql://localhost:3306/droneplatform?useSSL=false&serverTimezone=UTC
    username: root
    password:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        entityManagerFactoryInterface: jakarta.persistence.EntityManagerFactory
